html{
  height: 100%
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-color: #62d8ff;
}

.container {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: #fff !important;
}

.results-menu {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.btn-success {
  background-color: #62d8ff !important;
  border-color: #62d8ff !important;
}

.results {
  /*TODO*/
}

textarea {
   resize: vertical;
}
